<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Exercise1-Simple_Client_Server/src/edu/neumont/csc380/Client.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="edu.neumont.csc380.Client"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Exercise1-Simple_Client_Server"/>
</launchConfiguration>
